whatsapp-workflow.json
{
  "name": "AI Debt OS: WhatsApp Outbound",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-outbound",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "01234567-89ab-cdef-0123-456789abcdef",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "whatsapp-outbound"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.data.api_url }}/message/sendText/{{ $json.body.data.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.body.data.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.body.data.phone_number }}\",\n  \"text\": \"{{ $json.body.data.message }}\"\n}",
        "options": {}
      },
      "id": "12345678-89ab-cdef-0123-456789abcdef",
      "name": "Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "23456789-89ab-cdef-0123-456789abcdef",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        600,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
